<div class="pagetitle" style="padding-top: 10px;">
    <h1> Announce Projects</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item">Projects </li>
            <li class="breadcrumb-item active">Projects </li>
        </ol>
    </nav>
</div>
<div class="container row " style="padding-top: 2%; padding-right:5%; padding-left:30px;">
    <div class=" bg-info bg-opacity-10 border border-info border-start-0 rounded-end"
        style="padding-top: 20px; padding-right:10%; padding-left:10%;">

        <div class="row text-center" style="align-items: center;">
            <h3 class="bg-primary p-1" style="--bs-bg-opacity: .2; padding-left: 40px; padding-top: 70px;">
                Announce Projects Areas </h3>
        </div>

        <div class="row p-2 ">
            <form action="/Projects" method="POST" enctype="multipart/form-data" onsubmit="return validateForm()">

                <!--- 1 title --->
                <div class="mb-1 col-md-4 col-lg-2 col-xl-4 mx-auto">
                    <label for="title" class="form-label" required>Title :</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="title">
                </div>

                <!--- 2 Image --->
                <div class="mb-1 col-md-4 col-lg-6 col-xl-4 mx-auto">
                    <label for="image" class="form-label">Select Image :</label>
                    <input type="file" class="form-control" id="image" name="image">
                </div>
                <!--- 3 body--->
                <div class="mb-1 col-md-4 col-lg-2 col-xl-6 mx-auto">
                    <label for="body" class="form-label">Projects body :</label>
                    <textarea class="form-control" id="body" name="body" required></textarea>
                </div>
                <!--- 4 category --->
                <div class="mb-1 col-md-4 col-lg-2 col-xl-6 mx-auto ">
                    <label for="category" class="form-label"> Category </label>
                    <select class="form-select" id="category" name="category">
                        <option value="Infrastructure" selected>Infrastructure</option>
                        <option value="Agriculture">Agriculture</option>
                        <option value="Education">Education</option>
                        <option value="Health">Health</option>
                        <option value="Industry">Industry</option>

                        <option value=" Other">Other</option>

                    </select>
                </div>
                <!--- 5 Action --->
                <div class="mb-3 col-md-6 col-lg-2 col-xl-4 mx-auto" style="padding-top: 10px;">
                    <button type="submit" class="btn btn-primary">Add </button>
                    <a href="/Projectss" class="btn btn-warning">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>