<main class="main">

    <!-- Page Title -->
    <div class="page-title dark-background" style="background-image: url(img/page-title-bg.jpg);">
        <div class="container position-relative">
            <h1>Kantibaa</h1>
            <nav class="breadcrumbs">
                <ol>
                    <li><a href="/">Home</a></li>
                    <li class="current">Kantibaa</li>
                </ol>
            </nav>
        </div>
    </div><!-- End Page Title -->

    <!-- About Section -->
    <section id="about" class="about section">

        <div class="container">

            <div class="row position-relative">

                <div class="col-lg-7 about-img" data-aos="zoom-out" data-aos-delay="200"><img src="img/kantibaa.png">
                </div>

                <div class="col-lg-7" data-aos="fade-up" data-aos-delay="100">
                    <h2 class="inner-title">⭕️ Ergaa Kantibaa Magaalaa Malkaa Rafuu</h2>
                    <div class="our-story">
                        <h4>Obbo Bakrii Yusuf</h4>
                        <h3>Kantibaa [ 2016 - Hanga Ammaa ]</h3>

                        <p>
                            We are working with a vision to build a city that is comfortable for our community and the
                            future generation will rest in it" Mr. Bakari Yusuf B/B mayor of Malka Raafu city
                            administration.

                        </p>
                        <ul>
                            <li><i class="bi bi-check-circle"></i> <span>Ullamco laboris nisi ut aliquip ex ea
                                    commo</span></li>
                            <li><i class="bi bi-check-circle"></i> <span>Duis aute irure dolor in reprehenderit
                                    in</span></li>
                            <li><i class="bi bi-check-circle"></i> <span>Ullamco laboris nisi ut aliquip ex ea</span>
                            </li>
                        </ul>
                        <p> As the sun rises over the fertile lands of Ethiopia, Melka Rafu City
                            diligent farmers begin their day, meticulously tending to fields abundant with
                            the finest produce nature has to offer. From the earthy richness of freshly harvested
                            potatoes to the succulent juiciness of plump tomatoes and the pungent aroma of crisp
                            onions, each crop embodies the essence of the region's bountiful harvest.</p>

                        <div class="watch-video d-flex align-items-center position-relative">
                            <i class="bi bi-play-circle"></i>
                            <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox stretched-link">Watch
                                Video</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </section><!-- /About Section -->

    <!-- Stats Counter Section -->


    <!-- Alt Services 2 Section -->
    <section id="alt-services-2" class="alt-services-2 section">

        <div class="container">

            <div class="row justify-content-around gy-4">

                <div class="col-lg-6 d-flex flex-column justify-content-center order-2 order-lg-1" data-aos="fade-up"
                    data-aos-delay="100">
                    <h3>⭕️MY VALUES</h3>
                    <p> </p>

                    <div class="row">

                        <div class="col-lg-6 icon-box d-flex">
                            <i class="bi bi-easel flex-shrink-0"></i>
                            <div>
                                <p> Rule of law Participation </p>
                            </div>
                        </div><!-- End Icon Box -->

                        <div class="col-lg-6 icon-box d-flex">
                            <i class="bi bi-patch-check flex-shrink-0"></i>
                            <div>
                                <p>Transparency Accountability</p>
                            </div>
                        </div><!-- End Icon Box -->

                        <div class="col-lg-6 icon-box d-flex">
                            <i class="bi bi-brightness-high flex-shrink-0"></i>
                            <div>

                                <p>Gaining public trust</p>
                            </div>
                        </div><!-- End Icon Box -->

                        <div class="col-lg-6 icon-box d-flex">
                            <i class="bi bi-brightness-high flex-shrink-0"></i>
                            <div>
                                <p>Public partisanship</p>
                            </div>
                        </div><!-- End Icon Box -->



                        <div class="col-lg-6 icon-box d-flex">
                            <i class="bi bi-easel flex-shrink-0"></i>
                            <div>
                                <p> Avoiding Discrimination </p>
                            </div>
                        </div><!-- End Icon Box -->

                        <div class="col-lg-6 icon-box d-flex">
                            <i class="bi bi-patch-check flex-shrink-0"></i>
                            <div>
                                <p>Provide accessible and fast service</p>
                            </div>
                        </div><!-- End Icon Box -->


                        <div class="col-lg-6 icon-box d-flex">
                            <i class="bi bi-brightness-high flex-shrink-0"></i>
                            <div>
                                <p>Respect for the culture and traditions of the people</p>
                            </div>
                        </div><!-- End Icon Box -->

                    </div>

                </div>

                <div class="features-image col-lg-5 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="200">
                    <img src="img/kantibaa.png" alt="">
                </div>

            </div>

        </div>

    </section><!-- /Alt Services 2 Section -->

    <!-- Team Section -->

</main>