<main class="main">

    <!-- Page Title -->
    <div class="page-title dark-background" style="background-image: url(img/page-title-bg.jpg);">
        <div class="container position-relative">
            <h1>About</h1>
            <nav class="breadcrumbs">
                <ol>
                    <li><a href="index.html">Home</a></li>
                    <li class="current">About</li>
                </ol>
            </nav>
        </div>
    </div><!-- End Page Title -->

    <!-- About Section -->
    <section id="about" class="about section">

        <div class="container">

            <div class="row position-relative">

                <div class="col-lg-7 about-img" data-aos="zoom-out" data-aos-delay="200"><img src="img/about.jpg"></div>

                <div class="col-lg-7" data-aos="fade-up" data-aos-delay="100">
                    <h2 class="inner-title">⭕️ Commitment to Quality</h2>
                    <div class="our-story">
                        <h4>Est 1988</h4>
                        <h3>Our Story</h3>

                        <p>


                            Transparency Accountability

                            Gaining public trust

                            Public partisanship

                            Provide accessible and fast service

                            Avoiding Discrimination

                            Respect for the culture and traditions of the people </p>
                        <ul>
                            <li><i class="bi bi-check-circle"></i> <span>Ullamco laboris nisi ut aliquip ex ea
                                    commo</span></li>
                            <li><i class="bi bi-check-circle"></i> <span>Duis aute irure dolor in reprehenderit
                                    in</span></li>
                            <li><i class="bi bi-check-circle"></i> <span>Ullamco laboris nisi ut aliquip ex ea</span>
                            </li>
                        </ul>
                        <p> As the sun rises over the fertile lands of Ethiopia, Melka Rafu City
                            diligent farmers begin their day, meticulously tending to fields abundant with
                            the finest produce nature has to offer. From the earthy richness of freshly harvested
                            potatoes to the succulent juiciness of plump tomatoes and the pungent aroma of crisp
                            onions, each crop embodies the essence of the region's bountiful harvest.</p>

                        <div class="watch-video d-flex align-items-center position-relative">
                            <i class="bi bi-play-circle"></i>
                            <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox stretched-link">Watch
                                Video</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </section><!-- /About Section -->

    <!-- Stats Counter Section -->
    <section id="stats-counter" class="stats-counter section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>Stats</h2>
            <p>⭕️ Sustainability and Ethical Practices</p>
        </div><!-- End Section Title -->

        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="row gy-4">

                <div class="col-lg-4 col-md-8">
                    <div class="stats-item d-flex align-items-center w-100 h-100">
                        <i class="bi bi-emoji-smile color-blue flex-shrink-0"></i>
                        <div>
                            <span data-purecounter-start="0" data-purecounter-end="150000" data-purecounter-duration="1"
                                class="purecounter"></span>
                            <p>People</p>
                        </div>
                    </div>
                </div><!-- End Stats Item -->

                <div class="col-lg-4 col-md-8">
                    <div class="stats-item d-flex align-items-center w-100 h-100">
                        <i class="bi bi-journal-richtext color-orange flex-shrink-0"></i>
                        <div>
                            <span data-purecounter-start="0" data-purecounter-end="2" data-purecounter-duration="1"
                                class="purecounter"></span>
                            <p>Woreda</p>
                        </div>
                    </div>
                </div><!-- End Stats Item -->

                <div class="col-lg-4 col-md-8">
                    <div class="stats-item d-flex align-items-center w-100 h-100">
                        <i class="bi bi-headset color-green flex-shrink-0"></i>
                        <div>
                            <span data-purecounter-start="0" data-purecounter-end="8" data-purecounter-duration="1"
                                class="purecounter"></span>
                            <p>Open Hours</p>
                        </div>
                    </div>
                </div><!-- End Stats Item -->

                <div class="col-lg-4 col-md-8">
                    <div class="stats-item d-flex align-items-center w-100 h-100">
                        <i class="bi bi-people color-pink flex-shrink-0"></i>
                        <div>
                            <span data-purecounter-start="0" data-purecounter-end="23" data-purecounter-duration="1"
                                class="purecounter"></span>
                            <p> Araddaa</p>
                        </div>
                    </div>
                </div><!-- End Stats Item -->

            </div>

        </div>

    </section><!-- /Stats Counter Section -->

    <!-- Alt Services Section -->
    <section id="alt-services" class="alt-services section">

        <div class="container">

            <div class="row justify-content-around gy-4">
                <div class="features-image col-lg-6" data-aos="fade-up" data-aos-delay="100"><img
                        src="img/alt-services.jpg" alt=""></div>

                <div class="col-lg-5 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                    <h3>Enim quis est voluptatibus aliquid consequatur fugiat</h3>
                    <p> With an unwavering commitment to sustainability and ethical practices,Melka Rafu City ensures
                        that every step of the production process adheres to the
                        highest standards of environmental stewardship and social responsibility. Through
                        innovative farming techniques and responsible sourcing, they strive to minimize their
                        ecological footprint while maximizing the nutritional value and freshness of their
                        products.</p>

                    <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="300">
                        <i class="bi bi-easel flex-shrink-0"></i>
                        <div>
                            <h4><a href="" class="stretched-link">Lorem Ipsum</a></h4>
                            <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
                                occaecati cupiditate
                                non provident</p>
                        </div>
                    </div><!-- End Icon Box -->

                    <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="400">
                        <i class="bi bi-patch-check flex-shrink-0"></i>
                        <div>
                            <h4><a href="" class="stretched-link">Nemo Enim</a></h4>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                                voluptatum
                                deleniti atque</p>
                        </div>
                    </div><!-- End Icon Box -->

                    <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="500">
                        <i class="bi bi-brightness-high flex-shrink-0"></i>
                        <div>
                            <h4><a href="" class="stretched-link">Dine Pad</a></h4>
                            <p>Explicabo est voluptatum asperiores consequatur magnam. Et veritatis odit. Sunt aut
                                deserunt minus aut
                                eligendi omnis</p>
                        </div>
                    </div><!-- End Icon Box -->

                    <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="600">
                        <i class="bi bi-brightness-high flex-shrink-0"></i>
                        <div>
                            <h4><a href="" class="stretched-link">Tride clov</a></h4>
                            <p>

                                At Melka Rafu City, exporting goes beyond mere commerce—it's a
                                bridge that connects cultures, enriches lives, and fosters global exchange. Every
                                shipment that leaves their facilities is not just a transaction but a testament to the
                                rich tapestry of flavors and traditions that unite us all. Moreover, with their
                                headquarters nestled amidst the serene landscapes of East Ethiopia, Melka Rafu City
                                serves as a beacon of hope and prosperity for local communities,
                                providing employment opportunities and economic growth that empower individuals to
                                thrive and flourish.
                            </p>
                        </div>
                    </div><!-- End Icon Box -->

                </div>
            </div>

        </div>

    </section><!-- /Alt Services Section -->

    <!-- Alt Services 2 Section -->
    <section id="alt-services-2" class="alt-services-2 section">

        <div class="container">

            <div class="row justify-content-around gy-4">

                <div class="col-lg-6 d-flex flex-column justify-content-center order-2 order-lg-1" data-aos="fade-up"
                    data-aos-delay="100">
                    <h3>⭕️CORE VALUES</h3>
                    <p> </p>

                    <div class="row">

                        <div class="col-lg-6 icon-box d-flex">
                            <i class="bi bi-easel flex-shrink-0"></i>
                            <div>
                                <p> Rule of law Participation </p>
                            </div>
                        </div><!-- End Icon Box -->

                        <div class="col-lg-6 icon-box d-flex">
                            <i class="bi bi-patch-check flex-shrink-0"></i>
                            <div>
                                <p>Transparency Accountability</p>
                            </div>
                        </div><!-- End Icon Box -->

                        <div class="col-lg-6 icon-box d-flex">
                            <i class="bi bi-brightness-high flex-shrink-0"></i>
                            <div>

                                <p>Gaining public trust</p>
                            </div>
                        </div><!-- End Icon Box -->

                        <div class="col-lg-6 icon-box d-flex">
                            <i class="bi bi-brightness-high flex-shrink-0"></i>
                            <div>
                                <p>Public partisanship</p>
                            </div>
                        </div><!-- End Icon Box -->



                        <div class="col-lg-6 icon-box d-flex">
                            <i class="bi bi-easel flex-shrink-0"></i>
                            <div>
                                <p> Avoiding Discrimination </p>
                            </div>
                        </div><!-- End Icon Box -->

                        <div class="col-lg-6 icon-box d-flex">
                            <i class="bi bi-patch-check flex-shrink-0"></i>
                            <div>
                                <p>Provide accessible and fast service</p>
                            </div>
                        </div><!-- End Icon Box -->


                        <div class="col-lg-6 icon-box d-flex">
                            <i class="bi bi-brightness-high flex-shrink-0"></i>
                            <div>
                                <p>Respect for the culture and traditions of the people</p>
                            </div>
                        </div><!-- End Icon Box -->

                    </div>

                </div>

                <div class="features-image col-lg-5 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="200">
                    <img src="img/features-3-2.jpg" alt="">
                </div>

            </div>

        </div>

    </section><!-- /Alt Services 2 Section -->

    <!-- Team Section -->
    <section id="team" class="team section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>Cabinet</h2>
            <p>
                ⭕️ Cabinets Official
            </p>
        </div><!-- End Section Title -->

        <div class="container">

            <div class="row gy-5">

                <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="100">
                    <div class="member-img">
                        <img src="img/team/team-1.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href="https://www.facebook.com/profile.php?id=61557761873267"><i
                                    class="bi bi-twitter-x"></i></a>
                            <a href="https://www.facebook.com/profile.php?id=61557761873267"><i
                                    class="bi bi-facebook"></i></a>
                            <a href="https://t.me/+L62_RxbIsB03OTU8"><i class="biu bi-telegram"></i></a>
                            <a href="https://t.me/+L62_RxbIsB03OTU8"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info text-center">
                        <h4>Eng. Bakri</h4>
                        <span>Civil Engineer</span>
                        <p>Melka Rafu City Municipality </p>
                    </div>
                </div><!-- End Team Member -->


                <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="500">
                    <div class="member-img">
                        <img src="img/team/team-5.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href="#"><i class="bi bi-twitter-x"></i></a>
                            <a href="#"><i class="bi bi-facebook"></i></a>
                            <a href="#"><i class="bi bi-instagram"></i></a>
                            <a href="#"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info text-center">
                        <h4>Brian Doe</h4>
                        <span>Mayor</span>
                        <p>Melka Rafu City Deputy Municipality</p>
                    </div>
                </div><!-- End Team Member -->


                <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="200">
                    <div class="member-img">
                        <img src="img/team/team-2.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href="https://www.facebook.com/profile.php?id=61557761873267"><i
                                    class="bi bi-twitter-x"></i></a>
                            <a href="https://www.facebook.com/profile.php?id=61557761873267"><i
                                    class="bi bi-facebook"></i></a>
                            <a href="https://t.me/+L62_RxbIsB03OTU8"><i class="biu bi-telegram"></i></a>
                            <a href="https://t.me/+L62_RxbIsB03OTU8"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info text-center">
                        <h4>Sarah Jhonson</h4>
                        <span>Management</span>
                        <p>Melka Rafu City Prosperity Party</p>
                    </div>
                </div><!-- End Team Member -->

                <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="300">
                    <div class="member-img">
                        <img src="img/team/team-3.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href="https://www.facebook.com/profile.php?id=61557761873267"><i
                                    class="bi bi-twitter-x"></i></a>
                            <a href="https://www.facebook.com/profile.php?id=61557761873267"><i
                                    class="bi bi-facebook"></i></a>
                            <a href="https://t.me/+L62_RxbIsB03OTU8"><i class="biu bi-telegram"></i></a>
                            <a href="https://t.me/+L62_RxbIsB03OTU8"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info text-center">
                        <h4>William Anderson</h4>
                        <span>Business Management</span>
                        <p> Melka Rafu City Government Communication </p>
                    </div>
                </div><!-- End Team Member -->

                <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="400">
                    <div class="member-img">
                        <img src="img/team/team-4.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href="https://www.facebook.com/profile.php?id=61557761873267"><i
                                    class="bi bi-twitter-x"></i></a>
                            <a href="https://www.facebook.com/profile.php?id=61557761873267"><i
                                    class="bi bi-facebook"></i></a>
                            <a href="https://t.me/+L62_RxbIsB03OTU8"><i class="biu bi-telegram"></i></a>
                            <a href="https://t.me/+L62_RxbIsB03OTU8"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info text-center">
                        <h4>Amanda Jepson</h4>
                        <span>Lawyer</span>
                        <p>Attorney General</p>
                    </div>
                </div><!-- End Team Member -->



                <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="600">
                    <div class="member-img">
                        <img src="img/team/team-6.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href="https://www.facebook.com/profile.php?id=61557761873267"><i
                                    class="bi bi-twitter-x"></i></a>
                            <a href="https://www.facebook.com/profile.php?id=61557761873267"><i
                                    class="bi bi-facebook"></i></a>
                            <a href="https://t.me/+L62_RxbIsB03OTU8"><i class="biu bi-telegram"></i></a>
                            <a href="https://t.me/+L62_RxbIsB03OTU8"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info text-center">
                        <h4>Abdi Palas</h4>
                        <span>Civil Engineer</span>
                        <p>Enterprise Development and Industry</p>
                    </div>
                </div><!-- End Team Member -->
                <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="600">
                    <div class="member-img">
                        <img src="img/team/team-6.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href="https://www.facebook.com/profile.php?id=61557761873267"><i
                                    class="bi bi-twitter-x"></i></a>
                            <a href="https://www.facebook.com/profile.php?id=61557761873267"><i
                                    class="bi bi-facebook"></i></a>
                            <a href="https://t.me/+L62_RxbIsB03OTU8"><i class="biu bi-telegram"></i></a>
                            <a href="https://t.me/+L62_RxbIsB03OTU8"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info text-center">
                        <h4>Abdi Palas</h4>
                        <span>Civil Engineer</span>
                        <p>Melka Rafu City Prosperity Party</p>
                    </div>
                </div><!-- End Team Member -->
                <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="600">
                    <div class="member-img">
                        <img src="img/team/team-6.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href="https://www.facebook.com/profile.php?id=61557761873267"><i
                                    class="bi bi-twitter-x"></i></a>
                            <a href="https://www.facebook.com/profile.php?id=61557761873267"><i
                                    class="bi bi-facebook"></i></a>
                            <a href="https://t.me/+L62_RxbIsB03OTU8"><i class="biu bi-telegram"></i></a>
                            <a href="https://t.me/+L62_RxbIsB03OTU8"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info text-center">
                        <h4>Iliyas Yasin</h4>
                        <span>Accounting</span>
                        <p> Melka Rafu City Cultural Heritage and Tourism Buerou</p>
                    </div>
                </div><!-- End Team Member -->


                <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="600">
                    <div class="member-img">
                        <img src="img/team/team-6.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href="https://www.facebook.com/profile.php?id=61557761873267"><i
                                    class="bi bi-twitter-x"></i></a>
                            <a href="https://www.facebook.com/profile.php?id=61557761873267"><i
                                    class="bi bi-facebook"></i></a>
                            <a href="https://t.me/+L62_RxbIsB03OTU8"><i class="biu bi-telegram"></i></a>
                            <a href="https://t.me/+L62_RxbIsB03OTU8"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info text-center">
                        <h4>Abdi Palas</h4>
                        <span>Civil Engineer</span>
                        <p>Melka Rafu City Health Bureau</p>
                    </div>
                </div><!-- End Team Member -->

                <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="600">
                    <div class="member-img">
                        <img src="img/team/team-6.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href="https://www.facebook.com/profile.php?id=61557761873267"><i
                                    class="bi bi-twitter-x"></i></a>
                            <a href="https://www.facebook.com/profile.php?id=61557761873267"><i
                                    class="bi bi-facebook"></i></a>
                            <a href="https://t.me/+L62_RxbIsB03OTU8"><i class="biu bi-telegram"></i></a>
                            <a href="https://t.me/+L62_RxbIsB03OTU8"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info text-center">
                        <h4>Abdi Palas</h4>
                        <span>Civil Engineer</span>
                        <p>Melka Rafu City Urban Construction Development Bureau</p>
                    </div>
                </div><!-- End Team Member -->

                <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="600">
                    <div class="member-img">
                        <img src="img/team/team-6.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href="https://www.facebook.com/profile.php?id=61557761873267"><i
                                    class="bi bi-twitter-x"></i></a>
                            <a href="https://www.facebook.com/profile.php?id=61557761873267"><i
                                    class="bi bi-facebook"></i></a>
                            <a href="https://t.me/+L62_RxbIsB03OTU8"><i class="biu bi-telegram"></i></a>
                            <a href="https://t.me/+L62_RxbIsB03OTU8"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info text-center">
                        <h4>Abdi Palas</h4>
                        <span>Civil Engineer</span>
                        <p>Melka Rafu City Health Bureau</p>
                    </div>
                </div><!-- End Team Member -->

            </div>

        </div>

    </section><!-- /Team Section -->

</main>